/**
 * Created by zhujr on 2018/10/15.
 * 登录页css
 */
@charset "UTF-8";
body{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}
h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}
h3 {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.grag-bg{
    background-color: #f3f3f4;
}
.loginscreen.middle-box{
    width: 300px;
}
.middle-box h1{
    width: 170px;
}
.middle-box{
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.logo-name{
    color: #e6e6e6;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0px;
}
.m-t {
    margin-top: 15px;
}
.m-b {
    margin-bottom: 15px;
}
.full-width {
    width: 100% !important;
}
.block {
    display: block;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.btn {
    border-radius: 3px;
}
