<!--侧边栏-->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-dashboard"></i>
                    <span>数据</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="active treeview-menu">
                    <li class="active" id="wk"><a href="javascript:void(0)" onclick="toChange(this,'/dater/toDo','todo')">
                        <i class="fa fa-circle-o"></i>待办事项</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-pie-chart"></i>
                    <span>系统设置</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:void(0)" onclick="toChange(this,'/dater/toUser','user')"><i class="fa fa-circle-o"></i>用户管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
