<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>每日任务管理系统</title>
</head>
<body>
<div layout:fragment="content">
    <iframe id="contentFrame" src="" class="iframe_dater" frameborder="0" style="overflow:hidden;height:83vh;width:100%"></iframe>
</div>
</body>
</html>

