<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjr.dater.business.dao.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.zjr.dater.business.model.Schedule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="contentstart" jdbcType="TIMESTAMP" property="contentstart" />
    <result column="contentend" jdbcType="TIMESTAMP" property="contentend" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userid, createtime, content, contentstart, contentend
  </sql>
  <select id="selectByExample" parameterType="com.zjr.dater.business.model.ScheduleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schedule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from schedule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjr.dater.business.model.ScheduleExample">
    delete from schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjr.dater.business.model.Schedule">
    insert into schedule (id, userid, createtime, 
      content, contentstart, contentend
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{contentstart,jdbcType=TIMESTAMP}, #{contentend,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjr.dater.business.model.Schedule">
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="contentstart != null">
        contentstart,
      </if>
      <if test="contentend != null">
        contentend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="contentstart != null">
        #{contentstart,jdbcType=TIMESTAMP},
      </if>
      <if test="contentend != null">
        #{contentend,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjr.dater.business.model.ScheduleExample" resultType="java.lang.Long">
    select count(*) from schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update schedule
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.contentstart != null">
        contentstart = #{record.contentstart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contentend != null">
        contentend = #{record.contentend,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update schedule
    set id = #{record.id,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=BIGINT},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      contentstart = #{record.contentstart,jdbcType=TIMESTAMP},
      contentend = #{record.contentend,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjr.dater.business.model.Schedule">
    update schedule
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="contentstart != null">
        contentstart = #{contentstart,jdbcType=TIMESTAMP},
      </if>
      <if test="contentend != null">
        contentend = #{contentend,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjr.dater.business.model.Schedule">
    update schedule
    set userid = #{userid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      contentstart = #{contentstart,jdbcType=TIMESTAMP},
      contentend = #{contentend,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--获取所有待办事项-->
  <select id="findAllSchedule" parameterType="com.zjr.dater.business.domain.ScheduleOption" resultMap="BaseResultMap">
    SELECT * from schedule
    <where>
      <if test="userId !=null and userId !='' ">
        userid = #{userId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <!--分页查询-->
  <select id="queryScheduleList" parameterType="com.zjr.dater.business.domain.ScheduleOption" resultMap="BaseResultMap">
    SELECT * FROM schedule
    <where>
      <if test="userId!=null and userId !='' ">
        userid = #{userId,jdbcType=BIGINT}
      </if>
      <if test="content!=null and content !=''">
        content like  "%"#{content,jdbcType=VARCHAR}"%"
      </if>
    </where>
    limit #{start,jdbcType=BIGINT},#{endrow,jdbcType=BIGINT}
  </select>
  <!--数据总数-->
  <select id="selectCount" resultType="integer">
    select count(1) from schedule
  </select>
</mapper>